<%- include('layout/header') %>
<%- include('layout/nav') %>
<div class="pageutama" style="width: 100%;">
    <img src="/images/bg1.jpg" class="image1">
    <img src="/images/bg2.jpg" class="image1">
    <img src="/images/bg3.jpg" class="image1">
    <img src="/images/bg4.jpg" class="image1">
    <img src="/images/bg5.jpg" class="image1">
    <img src="/images/bg6.jpg" class="image1">
    
 </div>
    
    
</div>
